div.maincontent {
    background-color: #2C3E50;
    color: #ECF0F1;
    border-color: #34495E;
}

h1, h2, h3, h4, a, a:visited {
    color: #1ABC9C;
}

body {
    background-color: darkslategrey;
}
table, div.komentarz {
    color:#34495E;
}
span.codeLine {
    color: orange;
    background: #005fbf;
}